
<ion-content [fullscreen]="true">
  <div class="container ion-text-center" >
    <br><br>
    <h1>Mejores Jugadores</h1> <br>
    <div *ngFor=" let jugador of listaMejoresJugadores; let i = index" class="ion-text-center">

      <ion-card style="background-color: rgb(228, 251, 202);">
        <ion-card-header>
          <ion-card-title>★ Puesto {{i+1}} ★</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          jugador: {{jugador.correo}} <br>
          tiempo: {{jugador.tiempo }} <br>
          fecha: {{jugador.desdeStr}} <br>
        </ion-card-content>
      </ion-card>



    </div>




  </div>

</ion-content>


