@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#container{
    background-color: rgb(195, 243, 139);
    height: 100%;
    width: 100%;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 1s linear infinite; /* Aplica la animación "rotate" */
}