<ion-content class="splash-content">
  <div class="splash-background ion-text-center">
    <h2  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #383636; margin-top: 40%;">Agustina Bilotta</h2>
    <h3  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  color: #383636;">4° A</h3>
    <h1  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:black">Memo Test</h1>
    
    <br>
    <div class="centrado">
      <ion-img src="../../assets/img/memotest.png" class="app-icon animacion-rebote"></ion-img>
    </div>
   
  </div>
</ion-content>
