#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overlay: none;
}

#container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/kids.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Opacidad aplicada solo a la imagen de fondo */
  z-index: -1;
}

img {
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 10%;
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}