

<ion-content [fullscreen]="true">
  <div id="container" class="ion-text-center">
    <br><br>
    <h2>Elige la dificultad:</h2>

    <br>

    <div class="ion-margin-top">
      <ion-button (click)="seleccionarDificultad('facil')" shape="round" >
        <img src="../../assets/img/facil.png" alt="" height="100px" style="padding:5px">
        <p>Facil</p>
      </ion-button>
    </div>

    <br>
    <div class="ion-margin-top">
      <ion-button (click)="seleccionarDificultad('medio')" shape="round">
        <img src="../../assets/img/medio.png" alt="" height="100px" style="padding:5px">
        <p>Medio</p>
      </ion-button>
    </div>

    <br>
    <div class="ion-margin-top">
      <ion-button (click)="seleccionarDificultad('dificil')" shape="round">
        <img src="../../assets/img/dificil.png" alt="" height="100px" style="padding:5px">
        <p>Dificil</p>
      </ion-button>
    </div>
  </div>
</ion-content>
