#container {
  position: relative; /* Establece la posición relativa para que el pseudoelemento se posicione correctamente */
  height: 100vh;
  width: 100vw;
}

#container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/kids.jpg');
  background-size: cover; /* La imagen de fondo se ajustará al tamaño del contenedor */
  background-position: center;
  opacity: 0.5; /* Aplica la opacidad solo a la imagen de fondo */
  z-index: -1; /* Coloca el pseudoelemento detrás de los demás contenidos */
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

